<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="F:/RestAPI/ATBRestAssured/src/test/java/RestATBPractice/tests/Crud/POST/BDDStylePOST.java"><classes><class name="RestATBPractice.tests.Crud.POST.BDDStylePOST"><methods><include name="testBDDStylePOSTpositive"/></methods></class></classes></test></suite>